<div>
  <mat-toolbar>
    <span>Bank Simulator</span>
  </mat-toolbar>
</div>

<!-------- searchAccount ------------>
<div class="body">
  <div class="" *ngIf="searchAccountDisplay">
    <mat-card>
      <mat-card-title>Enter Account Name?</mat-card-title>
      
      <mat-form-field appearance="fill">
        <mat-label>Enter Account Name</mat-label>
        <input matInput placeholder="Account Name" name="accountName" maxlength="50" type="text"
        [(ngModel)]="accountName" >
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="searchAccount()">Submit</button>
    </mat-card>
  </div>

<!--------------- dispay account details ------------>
  <div *ngIf="accountDisplay">
    <mat-card>
      <mat-card-title>{{account?.name}}</mat-card-title>
      <mat-card-subtitle>Ksh {{account?.balance}}</mat-card-subtitle>

      <button mat-raised-button color="primary" (click)="openDepositDisplay()">Deposit</button>
      <button mat-raised-button color="primary" (click)="openWithdrawDisplay()">Withdraw</button>
      <button mat-raised-button color="primary" (click)="openTransferDisplay()">Transfer</button>
      <mat-card-actions>
        <button mat-button (click)="goBack()">GO BACK</button>
      </mat-card-actions>
    </mat-card>
  </div>

<!--------------------- deposit to account ---------------->
  <div *ngIf="depositDisplay">
    <mat-card>
      <mat-card-title>Deposit</mat-card-title>
      <mat-form-field appearance="fill">
        <mat-label>Enter Amount</mat-label>
        <input matInput placeholder="0" name="deposit" maxlength="50" type="number" [(ngModel)]="amount" >
      </mat-form-field>

      <div class="buttons">
        <button mat-raised-button color="primary" (click)="deposit()">Submit</button>
        <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
      </div>
    </mat-card>
  </div>

<!--------------------- Withdraw to account ---------------->
  <div *ngIf="withdrawDisplay">
    <mat-card>
      <mat-card-title>Withdraw</mat-card-title>
      <mat-form-field appearance="fill">
        <mat-label>Enter Amount</mat-label>
        <input matInput placeholder="0" name="withdraw" maxlength="50" type="number" [(ngModel)]="amount">
      </mat-form-field>

      <div class="buttons">
        <button mat-raised-button color="primary" (click)="withdraw()">Submit</button>
        <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
      </div>
    </mat-card>
  </div>

<!--------------------- Transfer to account ---------------->
  <div *ngIf="transferDisplay">
    <mat-card>
      <mat-card-title>Transfer</mat-card-title>
      <mat-form-field appearance="fill">
        <mat-label>Enter Account Name</mat-label>
        <input matInput placeholder="Account Name" name="searchText" maxlength="50" type="text" [(ngModel)]="recipientName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter Amount</mat-label>
        <input matInput placeholder="0" name="transfer" maxlength="50" type="number" [(ngModel)]="amount">
      </mat-form-field>

      <div class="buttons">
        <button mat-raised-button color="primary" (click)="transfer()">Submit</button>
        <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
      </div>
    </mat-card>
  </div>

</div>